@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-main{
  @apply max-w-3xl py-24 mx-auto px-5 
}
.bg_color{
  /* background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(60,192,177,1) 43%, rgba(253,187,45,1) 100%); */
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 1%, rgba(178,81,185,1) 100%);
}

.bg_color2{
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(178,81,185,1) 100%);
}
/* CF92D3 */